.AboutBox {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .About{
        padding: 5vh;
        margin-right: 10vh;
    }

    .aboutHeaderTitle {
        padding-left: 3vh;
        font-size: 3.5rem;
    }

    .break{
        padding-top: 3vh;
    }
    .aboutHeader {
        // padding: 10rem;
        font-size: 2rem;
    }

    .photo {
        margin-left: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 915px) {
    .aboutHeaderTitle {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 2rem;
    }

    .AboutBox {
        display: flex;
        flex-direction: column;
    }

    .aboutHeader {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.2rem;
    }

    .photo {
        margin-top: 1rem;
    }

    .img {
        margin-left: 5rem;
    }
}