.FormContact{
    display: flex;
    flex-direction: column;
}
.text{
    margin: 3.7rem;
}
.FormContact{
    margin-bottom: 3.7rem;
    align-items: center;
    
    h2{
        margin: 0.2rem;
    }
    input{
        height: 5rem;
        width: 35rem;
        // border-color:#1f1f1f;
        // border-radius: 25px;
        border: none;
        border-bottom: 5px solid red;
        text-align: center;
    }
    textarea{
        height: 10rem;
        width: 35rem;
        border-color:#1f1f1f;
        border-radius: 25px;
        text-align: center;
    }
}
.submitting{
    margin-top: 1rem;
}
