.nav {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  margin-top: 10px;

  .site-nav-list {
    display: flex;
    gap: 3rem;
  }

  .site-nav {
    padding: 0px 0 8px;
    position: relative;
    color: #1f1f1f;
    background: none;
    border: none;
  }
}

@media screen and (max-width: 760px) {
  .nav {
    font-size: 25px;
  }
}

.site-nav:active {
  color: #FFBD2E;
}

.site-nav:visited {
  text-decoration: none;
}

.site-nav::before {
  content: "";
  position: absolute;
  left: 35%;
  bottom: 15px;
  width: 120px;
  height: 12px;
  transform: skew(-12deg) translateX(-50%);
  background: rgb(128, 255, 255);
  z-index: -1;
}

.site-contact::before {
  content: "";
  position: absolute;
  left: 43%;
  bottom: 15px;
  width: 135px;
  height: 12px;
  transform: skew(-12deg) translateX(-50%);
  background: rgb(128, 255, 255);
  z-index: -1;
}

.site-cv::before {
  content: "";
  position: absolute;
  left: 43%;
  bottom: 15px;
  width: 80px;
  height: 12px;
  transform: skew(-12deg) translateX(-50%);
  background: rgb(128, 255, 255);
  z-index: -1;
}