.nav {
  background: #ffffff40;
  box-shadow: 0 8px 32px 0 #4790be75;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid #ffffff40;
  align-self: center;
  width: 70rem;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30rem;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  .site-nav-list {
    display: flex;
    gap: 3rem;
  }

  .site-nav {
    padding: 0px 0 8px;
    position: relative;
    color: #1f1f1f;
    background: none;
    border: none;
  }

  .site-nav:active {
    color: #7e4914;
  }

  .site-nav:visited {
    text-decoration: none;
  }

  .site-nav::before {
    content: "";
    position: absolute;
    left: 35%;
    bottom: 15px;
    width: 120px;
    height: 12px;
    transform: skew(-12deg) translateX(-50%);
    background: #70a6cd;
    z-index: -1;

    @media screen and (max-width: 1150px) {
      width: 7vh;
    }
  }

  .site-contact::before {
    content: "";
    position: absolute;
    left: 43%;
    bottom: 15px;
    width: 135px;
    height: 12px;
    transform: skew(-12deg) translateX(-50%);
    background: #70a6cd;
    z-index: -1;

    @media screen and (max-width: 1150px) {
      width: 8vh;
    }
  }

  .site-cv::before {
    content: "";
    position: absolute;
    left: 43%;
    bottom: 15px;
    width: 80px;
    height: 12px;
    transform: skew(-12deg) translateX(-50%);
    background: #70a6cd;
    z-index: -1;

    @media screen and (max-width: 1150px) {
      width: 3vh;
    }
  }
}

@media screen and (max-width: 1150px) {
  .nav {
    padding-top: 1vh;
    width: 100%;
    font-size: 3.5vh;
    gap: 0.5vh;

    .site-nav-list {
      gap: 4vh;
    }

    .site-cv::before {
      background: none;
    }

    .site-contact::before {
      background: none;
    }

    .site-nav::before {
      background: none;
    }
  }
}

.dark {
  .nav {
    border: 1px solid #ffffff85;
  }

  .site-nav {
    color: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    font-size: 3.5vh;
    gap: 1vh;

    .site-nav-list {
      gap: 2vh;
    }
  }
}