.nav {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-self: center;
  width: 70rem;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30rem;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  .site-nav-list {
    display: flex;
    gap: 3rem;
  }

  .site-nav {
    padding: 0px 0 8px;
    position: relative;
    color: #1f1f1f;
    background: none;
    border: none;
  }
}

@media screen and (max-width: 760px) {
  .nav {
    font-size: 25px;
  }
}

.site-nav:active {
  color: #FFBD2E;
}

.site-nav:visited {
  text-decoration: none;
}

.site-nav::before {
  content: "";
  position: absolute;
  left: 35%;
  bottom: 15px;
  width: 120px;
  height: 12px;
  transform: skew(-12deg) translateX(-50%);
  background: #70a6cd;
  z-index: -1;
}

.site-contact::before {
  content: "";
  position: absolute;
  left: 43%;
  bottom: 15px;
  width: 135px;
  height: 12px;
  transform: skew(-12deg) translateX(-50%);
  background: #70a6cd;
  z-index: -1;
}

.site-cv::before {
  content: "";
  position: absolute;
  left: 43%;
  bottom: 15px;
  width: 80px;
  height: 12px;
  transform: skew(-12deg) translateX(-50%);
  background: #70a6cd;
  z-index: -1;
}