@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import "./index.scss";

body {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5vh;
  width: 100%;
  height: 100%;
  color: #1f1f1f;
  box-sizing: border-box;
}

body.light {
  background-color: #e4e7e9;
}

body.dark {
  color: #121b18;
  background-color: #6a6a58;
}


h1 {
  font-size: 2rem;
  text-align: center;

  @media only screen and (min-width: 940px) {
    font-size: 3rem;
    text-align: left;
  }
}

h2 {
  font-size: 1.25rem;
  text-align: center;

  @media only screen and (min-width: 940px) {
    font-size: 2rem;
    text-align: left;
  }
}

li {
  color: #1f1f1f;
}

li.dark {
  color: #a58c6f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}