.skills-icon {
    max-width: 30px;
}

.textSkills {
    margin: 1.3rem;

    @media screen and (max-width: 760px) {
        font-size: 2.2rem;
    }
}
.column{
    display: flex;
    flex-direction: row;
}
.light {
    .CardContet {
        text-align: center;
        justify-content: center;
        min-height: 50px;
    }

    .CardContetText {
        text-align: center;
    }

    .CardContetButton {
        border: 1px solid #ffffff85;
        font-size: small;
    }

    .CardContetActions {
        justify-content: center;
    }

    .CardContetText {
        text-align: center;
    }
    .ImageBackground{
        background: none;
    }
}

.dark {
    .Card {
        border: 1px solid #ffffff85;
        background-color: #06466d;
    }

    .CardContet {
        background-color: #06466d;
        text-align: center;
        justify-content: center;
        color: #ffffff;
        min-height: 40px;
        
    }

    .CardContetActions {
        background-color: #06466d;
        justify-content: center;
    }

    .CardContetText {
        text-align: center;
        color: #ffffff;
    }

    .CardContetButton {
        border: 1px solid #ffffff85;
        color: #ffffff;
        font-size: small;
    }

    .ListBackground {
        background-color: rgb(0, 0, 0);
    }
    .ImageBackground{
        background: none;
    }
    .image{
        margin-top: 4px;
        width: 30px;
        height: 30px;
    }
}

.WorkText {

    text-align: center;
    margin: 0.8rem;

    @media screen and (max-width: 413px) {
        margin-top: 6rem;
    }

    @media only screen and (max-width: 384px) {
        margin: 0;
        margin-top: 6rem;
    }

    @media screen and (min-width: 414px) {
        margin-top: 2rem;

    }

}

.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 915px) {
    .Cards {
        display: flex;
        justify-content: center;
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media screen and (max-width: 760px) {
    .textSkills {
        font-size: 2.2rem;
    }
}

.ListBackground {
    background-color: rgb(255, 255, 255);
}

.image{
    margin-top: 4px;
    width: 30px;
    height: 30px;
}